﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
    padding-top: 70px;
    height: 97.8%;
}

html {
    height: 100%;
}

header, footer, nav, section {
    display: block;
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    margin-top: 20px;
    height: 60px;
    background-color: #f5f5f5;
}


.container .credit {
    margin: 20px 0;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/* Sign In */
/*-----------------------------------------------------------*/
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*Administrator*/
/*--------------------------------------------------------------*/
.row-margin {
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Table*/
/*-------------------------------------------------------------*/
.table-border-fix {
    border: 1px solid #dddddd;
}

/*Form*/
.btn-group.bootstrap-select.outline {
    display: table;
}

.display-none{
    display:none;
}

#defaultGrid-loading{
    height:20px
}

.loading{
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    background-image: url(Images/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    height:20px;
    margin-bottom:5px;
    margin-top:5px;
}

/*Upload*/
/*--------------------------------------------------------------*/
.upload {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
}

.upload .inputfile {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.upload .inputfile input[type="file"] {
    filter: alpha(opacity=0);
    height: 34px;
    opacity: 0;
    width: 51px !important;
    font-size: 300px;
}

#formContainer .modal-dialog {
    width: 1000px;
}

/*Back to top*/
/*----------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    color: #000000;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    background-color: rgba(135, 135, 135, 0.50);
    text-decoration:none;
}

/**
    Model Upload Photo
    **/
.photo.path{
    word-break: break-all;
}

/**
    Pagination
    **/
.dataTables_info{
    margin: 20px 0;
}

div.dataTables_paginate{
    float:right;
    margin:0px;
}
