﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/jqueryval")"></script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")

</head>
<body>
    <div id="wrap">
        @Html.Partial("_NavBar")
        <div class="container">
            @RenderBody()
            <a href="#" class="back-to-top">Back to Top</a>
            <script>
                jQuery(document).ready(function () {
                    var offset = 220;
                    var duration = 500;
                    jQuery(window).scroll(function () {
                        if (jQuery(this).scrollTop() > offset) {
                            jQuery('.back-to-top').fadeIn(duration);
                        } else {
                            jQuery('.back-to-top').fadeOut(duration);
                        }
                    });

                    jQuery('.back-to-top').click(function (event) {
                        event.preventDefault();
                        jQuery('html, body').animate({ scrollTop: 0 }, duration);
                        return false;
                    })
                });
            </script>
        </div>
    </div>
    <div id="footer">
        <div class="container">
            <p class="text-muted credit">Example courtesy <a href="#">Arthas Lion</a> at <a href="#">Kooboo</a>.</p>
        </div>
    </div>
</body>
</html>
