﻿<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">StarCraft2-Blog</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="@Helper.IsCurrentController("Blog")"><a href="@Url.Action("Index","Blog")">Blogs</a></li>
                <li class="@Helper.IsCurrentController("User")"><a href="@Url.Action("Index","User")">User</a></li>
                <li class="@Helper.IsCurrentController("Administrator")"><a href="@Url.Action("Index","Administrator")">Administrator</a></li>
                <li class="@Helper.IsCurrentController("Category")"><a href="@Url.Action("Index","Category")">Category</a></li>
            </ul>
        </div>
    </div>
</div>
