﻿@model dynamic
@{
    int currentPage = Model.PageIndex;
    int pageSize = Model.PageSize;
    int totalItemCount = Model.TotalItemCount;

    int pageGroupSize = 10;
    int showingFrom = (currentPage - 1) * pageSize + 1 < totalItemCount ? (currentPage - 1) * pageSize + 1 : totalItemCount;
    int showingTo = (currentPage * pageSize) < totalItemCount ? (currentPage * pageSize) : totalItemCount;

    int pageCount = (int)Math.Ceiling(totalItemCount / (double)pageSize);
    pageCount = Math.Max(pageCount, 1);

    currentPage = Math.Max(currentPage, 1);
    currentPage = Math.Min(currentPage, pageCount);

    int lastGroupNumber = currentPage;
    while ((lastGroupNumber % pageGroupSize != 0)) { lastGroupNumber++; }

    int groupEnd = Math.Min(lastGroupNumber, pageCount);
    int groupStart = lastGroupNumber - (pageGroupSize - 1);
}

@if (totalItemCount > 0)
{
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <div class="dataTables_info" id="sample_1_info">
                Showing @showingFrom to @showingTo of @totalItemCount entries
            </div>
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="dataTables_paginate paging_bootstrap">
                <ul class="pagination">
                    @if (currentPage > 1)
                    {
                        <li class="prev pagenum">
                            <a href="#" title="Previous" pager-value="@(currentPage - 1)">&laquo;</a>
                        </li>
                    }
                    @if (currentPage > pageGroupSize)
                    {
                        <li class="pagenum">
                            <a href="#" pager-value="@(groupStart - pageGroupSize)">...</a>
                        </li>
                    }
                    @for (int i = groupStart; i <= groupEnd; i++)
                    {
                        string classVal = ((i == currentPage)) ? "active" : "";
                        <li class="@classVal pagenum">
                            <a href="#" pager-value="@i">@i</a>
                        </li>
                    }
                    @if (pageCount > groupEnd)
                    {
                        <li class="pagenum">
                            <a href="#" pager-value="@(groupEnd+1)">...</a>
                        </li>
                    }
                    @if (currentPage < pageCount)
                    {
                        <li class="next pagenum">
                            <a href="#" title="Next" pager-value="@(currentPage + 1)">&raquo;</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}