﻿@{
    ViewBag.Title = "Index";
    var CategoryJson = ViewBag.CategoryJson;
}
@Scripts.Render("~/Content/bootstrap3-editable/js/bootstrap-editable.js")
@Styles.Render("~/Content/bootstrap3-editable/css/bootstrap-editable.css")
<h2>Category</h2>
<div id="CategoryContainer">
    <div class="row row-margin">
        <div class="col-md-8">
            <a href="#"  data-toggle="modal" data-target="#AddCategoryModal" class="btn btn-primary">Add Category</a>
        </div>
        <div class="col-md-4">
        </div>
    </div>
    <div>
        <table class="table table-border table-hover">
            <thead>
                <tr>
                    <th>#ID</th>
                    <th>Title</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- ko foreach: Categorys-->
                <tr>
                    <td data-bind="text: ID"></td>
                    <td><span data-bind="text: CategoryName" class="edit"></span></td>
                    <td><span class="glyphicon glyphicon-remove" data-bind="click: $root.Remove"></span></td>
                </tr>
                <!-- /ko -->
            </tbody>
        </table>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="AddCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" data-bind="value:CreateCategoryValue"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: CreateCategory">Create</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>
<script type="text/javascript">
    $(function () {
        var categoryVM = function () {
            var self = this;

            self.Categorys = ko.observableArray(@Html.Raw(CategoryJson));

            self.EditCategoryId = 0;

            self.CreateCategoryValue = ko.observable();
            self.CreateCategory = function () {
                $.post("@Url.Action("Create")", {name:self.CreateCategoryValue()}, function (result) {
                    if (result.Succ == false) {
                        alert(result.ErrorMessage);
                        console.log(result.StackTrace);
                    } else {
                        window.location.reload();
                    }
                });
            }

            self.Remove = function (data) {
                if (confirm("Are sure to delete this Category?")) {
                    $.post("@Url.Action("Remove")", { id: data.ID }, function (result) {
                        if (result.Succ == true) {
                            self.Categorys.remove(data);
                        } else {
                            alert(result.ErrorMessage);
                            console.log(result.StackTrace);
                        }
                    })
                }
            }
        }

        var viewModel = new categoryVM();
        ko.applyBindings(viewModel, $("#CategoryContainer")[0]);

        var _id = 0;
        $(".table .edit").editable({
            type: 'text',
            title: 'Enter categroy name',
            url: '@Url.Action("edit")',
            ajaxOptions: {
                dataType: 'json',
            },
            send: "always",
            params: function (params) {
                params.ID = _id;
                params.Value = $(".editable-input .input-sm").val();
                return params;
            },
            validate: function (value) {
                if ($.trim(value) == "") {
                    return 'This field is required';
                } else {
                    _id = parseInt($(this).parent().parent().find("td:first").text());
                }
            },
            success: function (response, newValue) {
                if (response.status == 'error') return response.msg;
            }
        });
    })
</script>
