﻿@model Blog.Site.Models.DetailModel
@Scripts.Render("~/bundles/jquerycomment")
@Styles.Render("~/Content/jquerycomment")
@Styles.Render("~/Content/bootstrap.combined.css")
<div class="post-bottom-section">
    <div class="comment-list-1">

    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('div.comment-list-1').comment({
            title: 'Comments',
            url_get: '@Url.Action("GetReviews", "AjaxQuery", new { id = Model.ID })',
            url_input: '@Url.Action("CreateComment","Blog")',
            url_delete: '@Url.Action("DeleteComment","Blog")',
            url_edit:'@Url.Action("EditComment","Blog")',
            limit: 10,
            auto_refresh: false,
            refresh: 10000,
            transition: 'slideToggle',
            customOptions: {
                blogID : @Model.ID
            }
        });
    });
</script>