﻿@model Blog.Site.Models.DetailModel
@{
    ViewBag.Title = "Detail";
}

@Scripts.Render("~/bundles/syntaxhighlighter")
@Styles.Render("~/Content/syntaxhighlighter")

<div class="post">
    <div class="right-detail right">
        <h2><a href="#">@Model.Title</a></h2>
        <p class="post-info">
            Filed under
            @foreach (var item in Model.Tags)
            {
                <a href="@item.Url">@item.Name</a><text>,</text>
            }
        </p>
        <div class="blog-content detail-content">
            @Html.Raw(Model.Content)
        </div>

        <div class="share-box clear">
            <h4>Share This</h4>
            <ul>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/rss_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/delicious_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/stumbleupon_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/digg_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/facebook_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/twitter_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/technorati_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/newsvine_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/linkedin_32.png" />
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img alt="" src="~/Content/images/email_32.png" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
    @*<div class="left">
        <p class="dateinfo">@Model.CreateMonth<span>@Model.CreateDate</span></p>
        <div class="post-meta">
            <h4>@Model.CreateDateTime.Year</h4>
            <ul>
                <li class="user"><a href="#">@Model.Author</a></li>
                <li class="time"><a href="#">@Model.CreateTime</a></li>
                <li class="comment"><a href="#">@Model.RepliesCount Comments</a></li>
                <li class="permalink"><a href="@Model.PermaLink">Permalink</a></li>
            </ul>
        </div>
        <div class="post-meta">
            <h4>tags</h4>
            <ul class="tags">
                @foreach(var item in Model.Tags)
                {
                    <li><a href="@item.Url">@item.Name</a></li>
                }
            </ul>
        </div>
    </div>*@
</div>

@Html.Partial("_Review",Model)
