﻿@model List<Blog.Site.Models.BlogItem>
@{
    ViewBag.Title = "Arthas | .NET开发、Unity3D爱好者";
}
@ViewBag.Test
@foreach (var item in Model)
{ 
    <div class="post">
        <div class="right">
            <h2><a href="@Url.Action("Detail", "Blog", new { id = item.ID })">@item.Title</a></h2>
            <p class="post-info">Filed under 
                @foreach (var tag in item.Tags)
                { 
                    <a href="@tag.Url">@tag.Name</a><text>,</text>
                }
            </p>
            <div>
                @Html.Raw(item.Description)
            </div>
        </div>
        <div class="left">
            <p class="dateinfo">@item.CreateMonth<span>@item.CreateDate</span></p>
            <div class="post-meta">
                <h4>@item.CreateDateTime.Year</h4>
                <ul>
                    <li class="user"><a href="#">@item.Author</a></li>
                    <li class="time"><a href="#">@item.CreateTime</a></li>
                    <li class="comment"><a href="#">@item.RepliesCount Comments</a></li>
                    <li class="permalink"><a href="@item.PermaLink">Permalink</a></li>
                </ul>
            </div>
        </div>
    </div>
}