﻿@model Blog.Site.Models.RegisterUserModel
@{
    ViewBag.Title = "RegisterForm";
    Layout = "~/Views/Shared/_IFrameLayout.cshtml";
}
@Scripts.Render("~/bundles/jqueryfileupload")
@using (Html.BeginForm("RegisterForm", "Account", new { }, FormMethod.Post, new { @role = "form", @class = "form-horizontal", @id = "RegisterForm" }))
{
    <div class="form-group">
        
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
    <div>
    </div>
    <div style="text-align:right" class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-default" data-dismiss="modal">Cancle</button>
    </div>
}
@if (ViewBag.LoginSuccess != null)
{ 
    <script type="text/javascript">
        $(function () {
            parent.window.location.href = '@Url.Action("Index","Blog")';
        });
    </script>
}
