﻿@{
    ViewBag.Title = "Index";
}

<h2>User</h2>
<div id="UserContainer">
    <div class="row row-margin">
        <div class="col-md-8">
            
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" data-bind="value:keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click:search">Search</button>
                </span>
            </div>
        </div>
    </div>
    <div id="result-grid"></div>
</div>
<script type="text/javascript">
    $(function () {
        var adminVM = function () {
            var self = this;
            self.users = ko.observableArray([]);

            self.totalCount = ko.observable(0);
            self.pageIndex = ko.observable(0);
            self.pageSize = ko.observable(0);
            self.keyword = ko.observable();

            self.search = function () {
                self.renderData();
            }

            self.renderData = function () {
                $.get('@Url.Action("Query")', { keyword: self.keyword(), pageIndex: self.pageIndex(), pageSize: self.pageSize() }, function (result) {
                    self.users(result.data);
                    self.totalCount(result.totalCount);
                });
            }
        }

        var viewModel = new adminVM();
        ko.applyBindings(viewModel, $("#UserContainer")[0]);

        $("#result-grid").dataGrid({
            data: viewModel.users,
            columns: [
                {
                    headerText: "UserName",
                    field: "UserName",
                    template: "<a href='javascript:;' data-bind='text:$data[$column.field]'></a>"
                },
                {
                    headerText: "Email",
                    field: "Email"
                },
                {
                    headerText: "Actived",
                    template: " <input type='checkbox' data-bind=\"checked:$data['IsActived'],event: { change: function () { } }\"/>"
                }
            ],
            pagingOptions: {
                totalCount: viewModel.totalCount,
                pageSize: viewModel.pageSize(),
                currentPageIndex: viewModel.pageIndex,
                pageIndexRange: 10,
                onPaging: function (index, pageSize) {
                    viewModel.pageSize(pageSize);
                    viewModel.renderData();
                }
            }
        });
    });
</script>
