﻿@model Blog.AdminCMS.Models.CreateAdministrator

@Scripts.Render("~/bundles/jqueryfileupload")

@{
    var isEditForm = Html.ViewContext.RouteData.Values["Action"].ToString().ToLower() == "edit";
}
@if (isEditForm == false)
{
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>

        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>

        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
}
else
{
     <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" ,@disabled="disabled"})
            @Html.HiddenFor(m => m.UserName)
        </div>
        @Html.ValidationMessageFor(m => m.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
            <input type="password" id="Password" name="Password" class="form-control"/>
        </div>

        @Html.ValidationMessageFor(m => m.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-2 control-label" })
        <div class="col-sm-4">
             <input type="password" id="ConfirmPassword" name="ConfirmPassword" class="form-control"/>
        </div>

        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>
}
<div class="form-group">
    @Html.LabelFor(m => m.AboutMe, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-4">
        @Html.TextAreaFor(m => m.AboutMe, new { @class = "form-control" })
    </div>

    @Html.ValidationMessageFor(m => m.AboutMe)
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ProfileImage, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-4">
        <a class="upload btn btn-primary" href="#">Add
             <span class="inputfile">
                 <input type="file" id="select-image" name="pdfFile" accept=".jpg,.png">
             </span>
        </a>
        <div>
            <img id="displayProfile" width="300" src="@Model.ProfileImage" style="display:none"/>
        </div>
        <input type="hidden" id="ProfileImage" name="ProfileImage" />
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"></label>
    <div class="col-sm-4">
        <div class="checkbox col-sm-4">
            <label>
                @Html.CheckBoxFor(m => m.IsActived)
                @Html.LabelFor(m => m.IsActived)
            </label>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        if ('@(string.IsNullOrEmpty(Model.ProfileImage))' == 'False') {
            $("#displayProfile").removeAttr('style');
        }

        $('#select-image').fileupload({
            dataType: 'json',
            method: "Post",
            url: "@Url.Action("Upload", "AjaxQuery")",
            done: function (e, data) {
                if (data.result.Succ == true) {
                    $("#ProfileImage").val(data.result.Path);
                    $("#displayProfile").attr("src", data.result.Path);
                    $("#displayProfile").removeAttr('style');
                } else {
                    alert(data.result.Message);
                }
            },
            add: function (e, data) {
                var file = data.files[0];
                if (true) {
                    data.submit();
                } else {
                    RET.AdminCMS.Dialog.Message("");
                }
            }
        });
    });
</script>
