﻿@model Blog.AdminCMS.Models.CreateAdministrator
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm("Create", "Administrator", new { }, FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
{
    @Html.Partial("_Form",Model)
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
         <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-default" href="@Url.Action("Index")">Cancle</a>
    </div>
}
