﻿@model Blog.AdminCMS.Models.EditAdministrator
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm("Edit", "Administrator", new { }, FormMethod.Post, new { @role = "form", @class = "form-horizontal" }))
{
    @Html.HiddenFor(m => m.ID)
    @Html.Partial("_Form", Model)
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a class="btn btn-default" href="@Url.Action("Index")">Cancle</a>
    </div>
}