﻿@{
    ViewBag.Title = "Index";
}

<h2>Administrator</h2>
<div id="AdminContainer">
    <div class="row row-margin">
        <div class="col-md-8">
            <a href="@Url.Action("Create")" class="btn btn-primary">Add Administrator</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" data-bind="value:keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" data-bind="click:search">Search</button>
                </span>
            </div>
        </div>
    </div>
    <div id="result-grid"></div>
</div>
<script type="text/javascript">
    $(function () {
        var adminVM = function () {
            var self = this;
            self.administrators = ko.observableArray([]);

            self.totalCount = ko.observable(0);
            self.pageIndex = ko.observable(0);
            self.pageSize = ko.observable(0);
            self.keyword = ko.observable();

            self.search = function () {
                self.renderData();
            }

            self.renderData = function () {
                $.get('@Url.Action("Query")', { keyword: self.keyword(), pageIndex: self.pageIndex(), pageSize: self.pageSize() }, function (result) {
                    self.administrators(result.data);
                    self.totalCount(result.totalCount);
                });
            }
        }

        var viewModel = new adminVM();
        ko.applyBindings(viewModel, $("#AdminContainer")[0]);

        $("#result-grid").dataGrid({
            data: viewModel.administrators,
            columns: [
                {
                    headerText: "UserName",
                    field: "UserName",
                    type: "edit",
                    template: "<a href='javascript:;' data-bind='text:$data[$column.field]'></a>"
                },
                {
                    headerText: "CreateDate",
                    field: "CreatedDate"
                },
                {
                    type:"delete"
                }
            ],
            onEditing: function (data) {
                window.location.href = '@Url.Action("Edit")/' + data.ID;
            },
            onDeleting: function (data) {
                if (confirm("Are you sure to delete the admin?")) {
                    $.post("@Url.Action("Remove")", { id: data.ID }, function (result) {
                        if (result.Succ == true) {
                            viewModel.administrators.remove(data);
                        } else {
                            alert(result.ErrorMessage);
                        }
                    });
                }
            },
            pagingOptions: {
                totalCount: viewModel.totalCount,
                pageSize: viewModel.pageSize(),
                currentPageIndex: viewModel.pageIndex,
                pageIndexRange: 10,
                onPaging: function (index, pageSize) {
                    viewModel.pageSize(pageSize);
                    viewModel.renderData();
                }
            }
        });
    });
</script>
