﻿@model Blog.AdminCMS.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm("login", "account", new { returnUrl = Request.QueryString["returnurl"] }, FormMethod.Post, new { @class = "form-signin", id = "login" }))
{
    @Html.ValidationSummary(true)

    <h2 class="form-signin-heading">Please sign in</h2>
    @Html.TextBoxFor(m => m.UserName, new { @class="form-control" ,@placeholder="Email address" })
    @Html.ValidationMessageFor(m => m.UserName)
    @Html.PasswordFor(m => m.Password, new { @class="form-control", @placeholder="Password" })
    @Html.ValidationMessageFor(m => m.Password)
    <label class="checkbox">
        @Html.CheckBoxFor(m => m.RememberMe)
        Remember me
    </label>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
}
