﻿<div id="header">
    <div id="masthead">
        <div id="branding" role="banner">
            <div id="site-title">
                <span>
                    <a href="#" title="Starcraft II" rel="home">Starcraft II</a>
                </span>
            </div>
            <div id="site-description"><a href="http://blizzard.com">fansite planet</a></div>
        </div>
        <div id="access" role="navigation">
            <div class="menu-header">
                <ul id="menu-main-menu" class="menu">
                    <li id="menu-item-207" class="menu-item menu-item-type-post_type"><a href="#">home</a></li>
                    <li id="menu-item-205" class="menu-item menu-item-type-taxonomy current-menu-item current-category-ancestor"><a href="#">Articles</a></li>
                    <li id="menu-item-206" class="menu-item menu-item-type-taxonomy"><a href="#">News</a></li>
                    <li id="menu-item-210" class="menu-item menu-item-type-post_type"><a href="#">Screenshots</a></li>
                    <li id="menu-item-209" class="menu-item menu-item-type-post_type"><a href="#">Downloads</a></li>
                    <li id="menu-item-208" class="menu-item menu-item-type-post_type"><a href="#">Contacts</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="position: absolute; width: 100%; text-align: center; top: 0; left: 0; height: 350px; z-index: -99; top: 101px;">
        <img id="heading-img" src="@Url.Content("~/Content/images/zerg.png")" alt="" />
    </div>
</div>
<div style="clear: both"></div>
