﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Starcraft II | fansite planet</title>
    <script type="text/javascript">
        //<![CDATA[
        window.__CF = window.__CF || {}; window.__CF.AJS = { "abetterbrowser": { "ie": "7" }, "ga_key": { "ua": "UA-7078796-5", "ga_bs": "2" } };
        //]]>
    </script>
    <script>
        try {
            if (!window.CloudFlare) {
                var CloudFlare =
                    [
                        {
                            verbose: 0,
                            p: 0,
                            byc: 0,
                            owlid: "cf",
                            bag2: 1,
                            mirage2: 0,
                            oracle: 0,
                            paths: { cloudflare: "/cdn-cgi/nexp/acv=2980380653/" },
                            atok: "b21d030524e250a0a28fa04f7f9c0448",
                            petok: "d1b968b4f8d37af2794344d57a4c2af3-1384652740-1800",
                            zone: "template-help.com",
                            rocket: "0",
                            apps: {
                                "abetterbrowser": { "ie": "7" },
                                "ga_key": { "ua": "UA-7078796-5", "ga_bs": "2" }
                            }
                        }
                    ];
                var a = document.createElement("script"),
                    b = document.getElementsByTagName("script")[0];
                a.async = !0;
                a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/acv=616370820/cloudflare.min.js";
                b.parentNode.insertBefore(a, b);
            }
        } catch (e) { };
    </script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/main")
    <script type='text/javascript'>
        /* <![CDATA[ */
        var shutterSettings = {
            msgLoading: "L O A D I N G",
            msgClose: "Click to Close",
            imageCount: "1"
        };
        /* ]]> */
    </script>
    <script type="text/javascript">
        Cufon.set('fontFamily', 'Starcraft').replace('.menu li a')('h3.widget-title')('h1.page-title')('h3#reply-title')('h1.entry-title')('p label');
    </script>
    <script type="text/javascript">
        /* <![CDATA[ */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7078796-5']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        (function (b) { (function (a) { "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a) })(function () { "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) { _gaq.push(["_trackSocial", "facebook", "like", a]) }), FB.Event.subscribe("edge.remove", function (a) { _gaq.push(["_trackSocial", "facebook", "unlike", a]) }), FB.Event.subscribe("message.send", function (a) { _gaq.push(["_trackSocial", "facebook", "send", a]) })); "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) { if (a) { var b; if (a.target && a.target.nodeName == "IFRAME") a: { if (a = a.target.src) { a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g); b = 0; for (var c; c = a[b]; ++b) if (c.indexOf("url") === 0) { b = unescape(c.split("=")[1]); break a } } b = void 0 } _gaq.push(["_trackSocial", "twitter", "tweet", b]) } }) }) })(window);
        /* ]]> */
    </script>
</head>
<body class="home page page-id-123 page-template page-template-home-page-php">
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <div id="wrapper" class="hfeed">
        @Html.Partial("_Header")
        @RenderBody()
        @Html.Partial("_Footer")
    </div>
</body>
</html>
