﻿@inherits Blog.Site.Helper.HelperPage
@using System.Web.Mvc.Html;
@using System.Web.Mvc;

@helper IsCurrentController(string controller)
{
    var requestController = Html.ViewContext.RouteData.Values["controller"].ToString().ToLower();
    if(requestController == controller.ToLower())
    {
        <text>current</text>
    }
}

@helper IsCurrentCategory(int id)
{
    var param = Html.ViewContext.HttpContext.Request.QueryString["CategoryID"] ?? "0";
    var queryParam = int.Parse(param);
    if(id == queryParam)
    {
        <text>current</text>
    }
}
