﻿<div id="footer-outer" class="clear">
  <div id="footer-wrap">
    <div id="gallery" class="clear">
      <h3>Flickr Photos </h3>
      <p class="thumbs">
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a> 
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a> 
           <a href="#"><img src="@Url.Content("~/Content/images/thumb.jpg")" width="40" height="40" alt=""></a>
      </p>
    </div>
    <div class="col-a">
      <h3>Contact Info</h3>
      <p><strong>Phone: </strong>+1234567</p>
      <p><strong>Address: </strong>A401 Building 54 Guanri road Software park</p>
      <p><strong>E-mail: </strong>448420531@qq.com</p>
      <p>Want more info - go to our <a href="#">contact page</a></p>
      <h3>Updates</h3>
      <ul class="subscribe-stuff">
        <li><a href="#"> <img alt="" src="@Url.Content("~/Content/images/social_rss.png")"></a> </li>
        <li><a href="#"> <img alt="" src="@Url.Content("~/Content/images/social_facebook.png")"></a> </li>
        <li><a href="#"> <img alt="" src="@Url.Content("~/Content/images/social_twitter.png")"></a> </li>
        <li><a href="#"> <img alt="" src="@Url.Content("~/Content/images/social_email.png")"></a> </li>
      </ul>
      <p>Stay up to date. Subscribe via <a href="#">RSS</a>, <a href="#">Facebook</a>, <a href="#">Twitter</a> or <a href="#">Email</a> </p>
    </div>
    <div class="col-a">
      <h3>Site Links</h3>
      <div class="footer-list">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Style Demo</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Archive</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Template Info</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      <h3>Friends</h3>
      <div class="footer-list">
        <ul>
          <li><a href="#">Minjie</a></li>
          <li><a href="#">sem justo</a></li>
          <li><a href="#">semper</a></li>
          <li><a href="#">magna sed purus</a></li>
          <li><a href="#">tincidunt</a></li>
          <li><a href="#">consequat molestie</a></li>
          <li><a href="#">magna sed purus</a></li>
        </ul>
      </div>
    </div>
    <div class="col-a">
      <h3>Credits</h3>
      <div class="footer-list">
        <ul>
          <li><a href="#"> 110 Free Classy Social Media Icons by Jason LaRose </a> </li>
          <li><a href="#"> Free Social Media Icons by WeFunction </a> </li>
          <li><a href="#"> Free Icons by FAMFAMFAM </a> </li>
        </ul>
      </div>
      
    </div>
    <div class="col-b">
      <h3>Archives</h3>
      <div class="footer-list">
        <ul>
          <li><a href="#">January 2010</a></li>
          <li><a href="#">December 2009</a></li>
          <li><a href="#">November 2009</a></li>
          <li><a href="#">October 2009</a></li>
          <li><a href="#">September 2009</a></li>
        </ul>
      </div>
      <h3>Recent Bookmarks</h3>
      <div class="footer-list">
        <ul>
          <li><a href="#">5 Must Have Sans Serif Fonts for Web Designers</a></li>
          <li><a href="#">The Basics of CSS3</a></li>
          <li><a href="#">10 Simple Tips for Launching a Website</a></li>
          <li><a href="#">24 ways: Working With RGBA Colour</a></li>
          <li><a href="#">30 Blog Designs with Killer Typography</a></li>
          <li><a href="#">The Principles of Great Design</a></li>
        </ul>
      </div>
    </div>
    <!-- /footer-outer -->
  </div>
</div>