﻿<div id="footer-bottom">
  <p class="bottom-left"> &copy; 2014 <strong>Copyright Info</strong>&nbsp; &nbsp; &nbsp;</p>
  <p class="bottom-right"><a href="http://arthas.apphb.com/">Home</a> | <strong><a href="#top" class="back-to-top">Back to Top</a></strong> </p>
  <!-- /footer-bottom-->
</div>
<script type="text/javascript">
    $(function () {
        $('.back-to-top').click(function (event) {
            event.preventDefault();
            $('html, body').animate({ scrollTop: 0 }, 500); // Scroll speed to the top
        });
    })
</script>