﻿@using Blog.Site.Helper
@{
    var errorMessage = ViewBag.ErrorMessage as string;
}
@if (User.Identity.IsAuthenticated == false || string.IsNullOrEmpty(errorMessage) == false)
{
    <div class="navbar-collapse collapse">
        <a href="#" data-toggle="modal" data-target="#LoginModal">Login In</a>
        <a href="#" data-toggle="modal" data-target="#RegisterModal">Sign up</a>
    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Login</h4>
                </div>
                <div class="modal-body">
                    <form class="form-signin" role="form" action="@Url.Action("Login", "Account")" method="post" id="HeaderLoginForm">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <label>@ViewBag.ErrorMessage</label>
                        }
                        <input type="text" placeholder="Email" class="form-control" name="Email">
                        <input type="password" placeholder="Password" class="form-control" name="Password">
                        <label class="checkbox">
                            <input type="checkbox" value="remember-me" name="rememberMe">
                            Remember me
                        </label>
                        <input type="hidden" id="ReturnUrl" name="ReturnUrl" />
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.modal -->
    
    <!-- Register Modal -->
    <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Register</h4>
                </div>
                <div class="modal-body">
                    <iframe src="@Url.Action("RegisterForm", "Account")"></iframe>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <script type="text/javascript">
    $(function () {
        $("#HeaderLoginForm").submit(function () {
            $("#ReturnUrl").val(window.location.href);
        });

        var errorMessage = '@errorMessage';
            if (errorMessage != '') {
                alert(errorMessage);
            }
        });
    </script>
}
else
{
    <div class="userPanel">
        <span>@BlogSiteContext.CurrentUser.UserName</span>
        <a href="@Url.Action("SignOut", "Account")">[Log out]</a>
    </div>
}
