﻿<!--header -->
<div id="header-wrap">
    <div id="header">
        <a name="top"></a>
        <h1 id="logo-text"><a href="#">碧落星空</a></h1>
        <p id="slogan">Whatever is worth doing is worth doing well. </p>
        <div id="nav">
            <ul>
                <li class="@Helper.IsCurrentCategory(0)"><a href="@Url.Action("Index","Blog")">All</a></li>
                @foreach (var item in Blog.Site.Helper.BlogSiteContext.Categorys)
                {
                    <li class="@Helper.IsCurrentCategory(item.ID)"><a  href="@Url.Action("Index", "Blog", new { CategoryID = item.ID })">@item.Title</a></li>
                }
            </ul>
        </div>
        @Html.Partial("_HeaderLoginForm")
        <form id="quick-search" method="get" action="@Url.Action("Index","Search")">
            <fieldset class="search">
                <label for="qsearch">Search:</label>
                <input class="tbox" id="keyword" type="text" name="keyword" placeholder="keyword" />
                <button class="btn" type="submit" id="search_btn">Search</button>
            </fieldset>
        </form>
    </div>
</div>
<!--/header-->