﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/CoolBlue")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @Html.Partial("_Header")
    <!-- content-outer -->
    <div id="content-wrap" class="clear">
        <!-- content -->
        <div id="content">
            <div id="main">
                @RenderBody()
            </div>
            @Html.Partial("_SideBar")
        </div>
    </div>
    @Html.Partial("_Footer_Bottom")

    
    @Scripts.Render("~/bundles/jqueryval")
    
    @RenderSection("scripts", required: false)
</body>
</html>
