﻿<!-- sidebar -->
@Scripts.Render("~/Scripts/jquery.tagcanvas.min.js")
@using Blog.Site.Helper;
<div id="sidebar">
    <div class="about-me">
        <h3>About Me</h3>
        <p>
            <a href="#">
                <img src="@BlogSiteContext.ProfileInfo.ProfileImage" width="40" height="40" alt="" class="float-left" />
            </a>
            <span >@BlogSiteContext.ProfileInfo.AboutMe</span>
            <a href="#">Learn more...</a>
        </p>
    </div>
    <div class="sidemenu" id="tagCanvasContainer">
        <h3>Tags</h3>
        <canvas width="245" height="300" id="tagCanvas">
            <ul>
                @foreach(var item in BlogSiteContext.Tags)
                {
                    <li><a href="@Url.Action("Index", "Search", new { keyword = item })">@item</a></li>
                }
            </ul>
        </canvas>
    </div>
    <div class="popular">
        <h3>Most Popular</h3>
        <ul>
           @foreach(var item in BlogSiteContext.MostpopularBlog)
           {
            <li><a href="@Url.Action("Detail", "Blog", new { ID = item.ID })">@item.Title</a>
                <br />
                <span>Posted on <span >@item.PostDate</span></span></li>
           }
        </ul>
    </div>
    <div class="recent-comments">
        <h3>Recently Comment</h3>
        <ul>
            @foreach(var item in BlogSiteContext.RecentlyComments)
            {
            <li><a href="#" >@item.Thumbnail</a>
                <br />
                - 
                <cite >@item.Author</cite></li>
            }
        </ul>
    </div>
    <!-- /sidebar -->
</div>
<script type="text/javascript">
    $(function () {
        if (!$('#tagCanvas').tagcanvas({
            textColour: '#FF409F',
            outlineThickness: 1,
            maxSpeed: 0.03,
            depth: 0.6
        })) {
            // TagCanvas failed to load
            $('#tagCanvasContainer').hide();
        }
    });
</script>
