﻿@model Blog.AdminCMS.Models.CreateBlogModel
@{
    var categoryJson = ViewBag.CategoryJson;
    var blogStatusJson = ViewBag.BlogStatus;
}
@Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
@Scripts.Render("~/Scripts/bootstrap-select.min.js")
@Scripts.Render("~/bundles/bootstrap-select")
@Scripts.Render("~/bundles/jqueryfileupload")
@Styles.Render("~/Content/bootstrap-select.min.css")
@Html.AntiForgeryToken()
<div id="formContainer">
    <div class="form-group">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Title)
    </div>
    <div class="form-group">
        <label>Category</label>
        <select class="selectpicker outline" data-style="btn-success" data-bind="selectPicker: categoryValue, selectPickerOptions: { options: categorys, optionsText: 'Name', optionsValue: 'ID' }"></select>
        <input type="hidden" name="CategoryID" id="CategoryID" data-bind="value: categoryValue" />
    </div>
    <div class="form-group">
        <label>Status</label>
        <select class="selectpicker outline" data-style="btn-success" data-bind="selectPicker: blogStatusValue, selectPickerOptions: { options: BlogStatus, optionsText: 'label', optionsValue: 'value' }"></select>
        <input type="hidden" name="StatusValue" id="StatusValue" data-bind="value: blogStatusValue" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "form-control tinymce", @rows = 5 })
    </div>
    <div class="form-group">
        <a class="btn btn-success" data-toggle="modal" data-target="#ImageList">Uploaded Images</a>

        <div class="modal fade" id="ImageList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Uploaded Images</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row-margin">
                            <a class="upload btn btn-primary" href="#">Add
                                <span class="inputfile">
                                     <input type="file" id="select-image" name="pdfFile" accept=".jpg,.png">
                                </span>
                            </a>
                        </div>
                        <div id="result-grid"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Content)
        @Html.TextAreaFor(m => m.Content, new { @class = "form-control tinymce" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Tags)
        @Html.TextBoxFor(m => m.Tags, new { @class = "form-control", @placeholder = "splite with ','" })
    </div>
    <div>
        <button class="btn btn-primary" type="submit" data-loading-text="正在加载...">Submit</button>
        <a class="btn btn-default" href="@Url.Action("Index")">Cancle</a>
    </div>
    
</div>
<script type="text/javascript">
    $(function () {
        var formVM = function () {
            var self = this;

            self.categorys = ko.observableArray(@Html.Raw(categoryJson));
            self.categoryValue = ko.observable(@Model.CategoryID);

            self.BlogStatus = ko.observableArray(@Html.Raw(blogStatusJson));
            self.blogStatusValue = ko.observable(@((int)Model.Status));

            self.ImageList = ko.observableArray([]);
            self.totalCount = ko.observable();
            self.pageSize = ko.observable(10);
            self.pageIndex = ko.observable(0);
            self.renderImageList = function () {
                $.get('@Url.Action("GetImageList", "AjaxQuery")', { pageSize: self.pageSize(), pageIndex: self.pageIndex() }, function (result) {
                    self.totalCount(result.totalCount);
                    self.ImageList(result.data);
                })
            }
        }

        var viewModel = new formVM();
        ko.applyBindings(viewModel, $("formContainer")[0]);

        $('#formContainer').fileupload({
            dataType: 'json',
            method: "Post",
            url: "@Url.Action("Upload", "AjaxQuery")",
            done: function (e, data) {
                if (data.result.Succ == true) {
                    viewModel.ImageList.push({Path : data.result.Path,Name:data.result.Name});
                } else {
                    alert(data.result.Message);
                }
            },
            add: function (e, data) {
                var file = data.files[0];
                if (true) {
                    data.submit();
                } else {
                    RET.AdminCMS.Dialog.Message("");
                }
            }
        });

        $("#result-grid").dataGrid({
            data: viewModel.ImageList,
            columns: [
                {
                    headerText: "Preview",
                    field:"Path",
                    template: "<img data-bind='attr:{src:$data[$column.field]}' height='60'/>"
                },
                {
                    headerText: "Name",
                    field: "Name"
                },
                {
                    tdClass: "photo path",
                    headerText: "Path",
                    field: "Path"
                }
            ],
            pagingOptions: {
                totalCount: viewModel.totalCount,
                pageSize: viewModel.pageSize(),
                currentPageIndex: viewModel.pageIndex,
                pageIndexRange: 10,
                onPaging: function (index, pageSize) {
                    viewModel.pageSize(pageSize);
                    viewModel.renderImageList();
                }
            }
        });

        tinymce.init({
            selector: 'textarea.tinymce',
            plugins: ["code", "preview", "link", "paste", "image"],
            height: 500,
            file_browser_callback: function (field_name, url, type, win) {
                if (type == 'image') {
                    $('#imageUpload').click();
                }
            }
        });
    });
</script>
