﻿@using Blog.AdminCMS.Models.Blog
@model BlogIndexModel
@{
    ViewBag.Title = "Index";
}

<h2>Blogs</h2>
<div id="BlogContainer">
    <div class="row row-margin">
        <div class="col-md-8">
            <a href="@Url.Action("Create")" class="btn btn-primary">Add Blog</a>
        </div>
        <div class="col-md-4">
            <div class="input-group">
                <input type="text" class="form-control" id="js-keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="js-search">Search</button>
                </span>
            </div>
        </div>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover js-table">
            <thead>
                <tr>
                    <th class="sorting" aria-column="Title">Title</th>
                    <th class="sorting" aria-column="Category">Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PagedList)
                {
                    <tr class="odd gradeX">
                        <td>
                            @Html.DisplayFor(it => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(it => item.Category)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", new { id = item.ID })" class="btn btn-info btn-xs">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Edit
                            </a>
                            <a class="btn btn-xs btn-danger btn-removable js-delete" data-id="@item.ID" data-url="@Url.Action("Delete")">
                                <span class="glyphicon glyphicon-remove"></span>
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @Html.Partial("_Pager", Model.PagedList)
    </div>
    <div class="modal fade" id="ReplyList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Replies</h4>
                </div>
                <div class="modal-body">
                     <!-- ko foreach:Reviews -->
                    <div class="row row-margin">
                           
                            <div class="col-md-4">
                                <img class="img-rounded" width="100" data-bind="attr: { src: $data.ReviewerImage, alt: Reviewer }">
                            </div>
                            <div class="col-md-8">
                                <h4 ><small data-bind="    text: Reviewer"></small></h4>
                                <p data-bind="text: Content"></p>
                            </div>
                            
                            <span>&nbsp;</span>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/html" id="reviewTemplate">
    <!-- ko if:$data['RepliesCount'] > 0 -->
    <a href='#ReplyList' data-toggle='modal' data-target='#ReplyList' data-bind="click: function () { $root.onCustomEvent('displayReview', $data) }">
        <span data-bind="text: $data[$column.field]"></span>&nbsp;个回复
    </a>
    <!-- /ko -->
    <!-- ko ifnot:$data['RepliesCount'] > 0 -->
    <span data-bind="text: $data[$column.field]"></span>&nbsp;个回复
    <!-- /ko -->
</script>
<script type="text/javascript">
    $(function () {
        var blogVM = function() {
            self.Reviews = ko.observableArray();

            self.DisplayReview = function(data) {
                $.get('@Url.Action("GetReviews")', { BlogID: data.ID }, function(result) {
                    self.Reviews(result);
                });
            };
        };
        var viewModel = new blogVM();
        ko.applyBindings(viewModel, $("#BlogContainer")[0]);
    });
</script>
