﻿html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    clear: both;
}

ol, ul {
    list-style: none;
}

blockquote {
    quotes: none;
}

blockquote:before, blockquote:after {
    content: '';
    content: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a img {
    border: none;
}

a {
    color: #b0dff0;
}

#container {
    width: 630px;
    float: right;
}

#container.one-column {
    width: 100%;
    float: none;
}

#container.one-column #content {
    padding: 0 60px;
}

#primary, #secondary {
    margin: 10px 60px;
    width: 230px;
    float: left;
}

#footer {
    clear: both;
}

.copyright {
    font-size: 11px;
    line-height: 14px;
    margin-top: 14px;
}

.one-column #content {
    margin: 0 auto;
}

.single-attachment #content {
    margin: 0 auto;
}

body, input, textarea, .page-title span, .pingback a.url {
    font: 13px/20px Arial;
    color: #fff;
}

h3#comments-title, h3#reply-title, #access .menu, #access div.menu ul, #cancel-comment-reply-link, .form-allowed-tags, #site-info, #site-title, #wp-calendar, .comment-meta, .comment-body tr th, .comment-body thead th, .entry-content label, .entry-content tr th, .entry-content thead th, .entry-meta, .entry-title, .entry-utility, #respond label, .navigation, .page-title, .pingback p, .reply, .widget-title, .wp-caption-text, input[type=submit] {
}

pre {
}

code {
    font-family: Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;
}

#colophon, #main, #wrapper {
    margin: 0 auto;
    width: 1000px;
}

#branding {
    position: relative;
}

#heading-img {
    z-index: -1;
}

#wrapper {
}

#footer-widget-area {
    overflow: hidden;
}

#footer-widget-area .widget-area {
}

#footer-widget-area #fourth {
}

#site-info {
}

#site-generator {
}

body {
    background: url(images/back.jpg) center 426px no-repeat #000;
}

body, input, textarea {
}

hr {
}

p {
}

ul {
}

ol {
    list-style: decimal;
    margin: 0 0 18px 1.5em;
}

ol ol {
    list-style: upper-alpha;
}

ol ol ol {
    list-style: lower-roman;
}

ol ol ol ol {
    list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
    margin-bottom: 0;
}

dl {
}

dt {
}

dd {
}

strong {
    font-weight: bold;
}

cite, em, i {
    font-style: italic;
}

big {
    font-size: 131.25%;
}

ins {
    text-decoration: none;
}

blockquote {
    font-style: italic;
    padding: 0 3em;
}

blockquote cite, blockquote em, blockquote i {
    font-style: normal;
}

pre {
}

abbr, acronym {
    cursor: help;
}

sup, sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

input[type="text"], textarea {
    padding: 2px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}

a:link {
    color: #fff;
}

a:visited {
    color: #fff;
}

a:active, a:hover {
}

.screen-reader-text {
    position: absolute;
    left: -9000px;
}

#header {
    background: url(images/heading.png) top left no-repeat;
    height: 426px;
    zoom: 1;
    z-index: 1000;
    left: 0;
}

#site-title {
    text-indent: -10000px;
    width: 432px;
    height: 134px;
    margin-left: 280px;
}

#site-title a {
    width: 432px;
    height: 134px;
    display: block;
    z-index: 2;
}

#site-description a {
    width: 84px;
    height: 47px;
    display: block;
    z-index: 3;
}

#site-description {
    text-indent: -10000px;
    width: 84px;
    height: 47px;
    margin: 5px 0 0 60px;
}

#branding img {
}

#access {
    margin-top: 195px;
}

.menu-header {
    z-index: 100;
    zoom: 1;
}

#access .menu-header, div.menu {
    font-size: 13px;
    margin-left: 12px;
}

#access .menu-header ul, div.menu ul {
    list-style: none;
    margin: 0;
    z-index: 130px;
}

#access .menu-header li, div.menu li {
    float: left;
    position: relative;
}

#access a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 0 10px;
    line-height: 30px;
}

#access ul ul {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    float: left;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
    width: 180px;
    z-index: 99999;
}

#access ul ul li {
    min-width: 180px;
}

#access ul ul ul {
    left: 100%;
    top: 0;
}

#access ul ul a {
    height: auto;
    line-height: 1em;
    padding: 10px;
    width: 160px;
}

#access .menu li {
    padding-left: 6px;
    margin-left: 46px;
}

#access .menu li:hover .menu_back {
    zoom: 1;
}

#access .menu .menu_back {
    padding-right: 6px;
}

#access .menu li:hover .menu_back a {
    zoom: 1;
}

#access .menu .menu_back a {
    display: block;
    height: 31px;
    font-size: 15px;
}

#access li:hover > a, #access ul ul :hover > a {
}

#access ul li:hover > ul {
    display: block;
}

#access ul li.current_page_item > a, #access ul li.current-menu-ancestor > a, #access ul li.current-menu-item > a, #access ul li.current-menu-parent > a {
    color: #fff;
}

* html #access ul li.current_page_item a, * html #access ul li.current-menu-ancestor a, * html #access ul li.current-menu-item a, * html #access ul li.current-menu-parent a, * html #access ul li a:hover {
    color: #fff;
}

.chrome-top {
    height: 11px;
}

.chrome-bottom {
    height: 11px;
}

.chrome-cont {
    overflow: hidden;
    margin-top: -1px;
}

.chrome-cont .cont {
}

#main {
    overflow: hidden;
    padding: 20px 0 0 0;
    width: 100%;
}

#content {
    margin-bottom: 36px;
}

#content, #content input, #content textarea {
    font-size: 12px;
    line-height: 19px;
}

#content p, #content ul, #content ol, #content dd, #content pre, #content hr {
    margin-bottom: 24px;
}

#content ul ul, #content ol ol, #content ul ol, #content ol ul {
    margin-bottom: 0;
}

#content pre, #content kbd, #content tt, #content var {
    font-size: 15px;
    line-height: 21px;
}

#content code {
    font-size: 13px;
}

#content dt, #content th {
    color: #000;
}

#content.categories h1, #content.categories h2, #content.categories h3, #content.categories h4, #content.categories h5, #content.categories h6 {
    margin: 0 0 10px 0;
}

.home-page h1 {
    font-size: 18px!important;
}

#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-size: 16px;
    margin: 0 0 20px 0;
    line-height: 1.5em;
}

.widget-area h1, .widget-area h2, .widget-area h3, .widget-area h4, .widget-area h5, .widget-area h6 {
    font-size: 16px;
    margin: 0 0 20px 0;
    line-height: 1.5em;
}

#content table {
    text-align: left;
    margin: 0 -1px 24px 0;
    width: 100%;
}

#content tr th, #content thead th {
    color: #b0dff0;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}

#content tr td {
    padding: 6px 24px;
}

#content tr.odd td {
}

.hentry {
    margin: 0 0 48px 0;
}

.home .sticky {
    padding: 18px 20px;
    margin-left: -20px;
    margin-right: -20px;
}

.single .hentry {
    margin: 0 0 36px 0;
}

.page-title {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 36px 0;
}

.page-title span {
    font-size: 16px;
    font-style: italic;
    font-weight: normal;
}

.page-title a:link, .page-title a:visited {
    text-decoration: none;
}

.page-title a:active, .page-title a:hover {
}

.categories .hentry {
    margin-bottom: 10px!important;
}

#content .entry-title a {
    color: #b0dff0!important;
}

#content .entry-title {
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
}

#content .entry-content img {
    border: 1px solid #233353;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #000;
    display: block;
    margin: 4px 0px 4px 5px;
    padding: 4px;
    position: relative;
}

.noborder {
    border: none!important;
    background: none!important;
    margin-top: 0px!important;
}

.entry-title a:link, .entry-title a:visited {
    text-decoration: none;
}

.entry-title a:active, .entry-title a:hover {
}

.entry-meta {
    color: #b0dff0;
    font-size: 12px;
}

.entry-meta abbr, .entry-utility abbr {
    border: none;
}

.entry-meta abbr:hover, .entry-utility abbr:hover {
}

.entry-content, .entry-summary {
    clear: both;
    padding: 12px 0 0 0;
}

#content .entry-summary p:last-child {
    margin-bottom: 12px;
}

.entry-content fieldset {
    margin: 0 0 24px 0;
    padding: 24px;
}

.entry-content fieldset legend {
    color: #000;
    font-weight: bold;
    padding: 0 24px;
}

.entry-content input {
    margin: 0 0 24px 0;
}

.entry-content input.file, .entry-content input.button {
    margin-right: 24px;
}

.home-page .entry-content .clear {
    margin-bottom: 10px!important;
}

.entry-content .clear {
    margin-bottom: 24px;
}

.date {
    font-weight: bold;
    color: #b0dff0;
}

.entry-content label {
    color: #b0dff0;
    font-size: 12px;
}

.entry-content select {
    margin: 0 0 24px 0;
}

. .entry-content sup,
.entry-content sub {
    font-size: 10px;
}

.entry-content blockquote.left {
    float: left;
    margin-left: 0;
    margin-right: 24px;
    text-align: right;
    width: 33%;
}

.entry-content blockquote.right {
    float: right;
    margin-left: 24px;
    margin-right: 0;
    text-align: left;
    width: 33%;
}

.page-link {
    color: #000;
    font-weight: bold;
    margin: 0 0 22px 0;
    word-spacing: 0.5em;
}

.page-link a:link, .page-link a:visited {
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
}

.home .sticky .page-link a {
}

.page-link a:active, .page-link a:hover {
}

.page .edit-link {
    clear: both;
    display: block;
}

#entry-author-info {
    padding: 18px 20px;
    margin: 24px 0;
    overflow: hidden;
    clear: both;
    font-size: 14px;
    line-height: 20px;
}

#entry-author-info #author-avatar {
    float: left;
    margin: 0 -104px 0 0;
    padding: 11px;
    height: 60px;
}

#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}

#entry-author-info h2 {
    color: #000;
    font-weight: bold;
    font-size: 100%;
    margin-bottom: 0;
}

.entry-utility {
    color: #b0dff0;
    font-size: 12px;
    line-height: 18px;
    clear: both;
}

.entry-meta a, .entry-utility a {
    color: #b0dff0;
    font-weight: bold;
    text-decoration: none;
}

.entry-meta a:hover, .entry-utility a:hover {
    color: #fff;
    text-decoration: underline;
}

#content .video-player {
    padding: 0;
}

.clear {
    width: 100%;
    overflow: hidden;
}

.home #content .category-asides p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0;
}

.home .hentry.category-asides {
    padding: 0;
}

.home #content .category-asides .entry-content {
    padding-top: 0;
}

.category-gallery {
    margin-bottom: 48px;
}

.category-gallery h2 {
    margin-top: 10px;
}

.category-gallery .entry-meta {
}

.category-gallery .size-thumbnail img {
    border: 10px solid #f1f1f1;
    margin-bottom: 0;
}

.category-gallery .gallery-thumb {
    float: left;
    margin-right: 20px;
    margin-top: -4px;
}

.home #content .category-gallery .entry-content p {
    display: inline;
}

.home #content .category-gallery .entry-utility {
    padding-top: 4px;
}

.entry-content .attachment img {
    margin-bottom: 0;
}

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}

.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}

.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}

#content img {
    margin: 0;
}

#content .attachment img {
}

#content .alignleft, #content img.alignleft {
    display: inline;
    float: left;
    margin-right: 17px;
}

#content .alignright, #content img.alignright {
    display: inline;
    float: right;
}

#content .aligncenter, #content img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#content img.alignleft, #content img.alignright, #content img.aligncenter {
}

#content .wp-caption {
    line-height: 18px;
    text-align: center;
    margin-bottom: 20px;
    padding: 4px;
}

#content .wp-caption img {
    margin: 5px 5px 0;
}

#content .wp-caption p.wp-caption-text {
    margin: 5px;
    color: #b0dff0;
    font-size: 12px;
}

#content .wp-smiley {
    margin: 0;
}

#content .gallery {
    margin: auto;
}

#content .gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}

#content .gallery img {
}

#content .gallery .gallery-caption {
    color: #b0dff0;
    font-size: 12px;
    margin: 0 0 12px;
}

#content .gallery dl {
    margin: 0;
}

#content .gallery img {
}

#content .gallery br + br {
    display: none;
}

.navigation {
    font-size: 12px;
    line-height: 18px;
    overflow: hidden;
    color: #b0dff0;
}

.navigation a:link, .navigation a:visited {
    color: #b0dff0;
    text-decoration: none;
}

.navigation a:active, .navigation a:hover {
}

.nav-previous {
    float: left;
    width: 50%;
}

.nav-next {
    float: right;
    width: 50%;
    text-align: right;
}

#nav-above {
    margin: 0 0 18px 0;
}

#nav-above {
    display: none;
}

.paged #nav-above, .single #nav-above {
    display: block;
}

#nav-below {
    margin: -18px 0 0 0;
}

ul#pages li {
    float: left;
    margin: 10px;
}

#comments {
    clear: both;
}

#comments .navigation {
}

h3#comments-title, h3#reply-title {
}

h3#comments-title {
    padding: 24px 0;
}

.comment-form-comment label {
    display: block;
}

.comments-link a {
}

.comments-link a:hover {
}

.comments-link {
    text-align: center;
}

.commentlist {
    list-style: none;
    margin: 0;
}

.commentlist li.comment {
}

.commentlist li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

#comments .comment-body ul, #comments .comment-body ol {
    margin-bottom: 18px;
}

#comments .comment-body p:last-child {
    margin-bottom: 6px;
}

#comments .comment-body blockquote p:last-child {
    margin-bottom: 24px;
}

.commentlist ol {
    list-style: decimal;
}

.commentlist .avatar {
    position: absolute;
    top: 4px;
    left: 0;
}

.comment-author {
}

.comment-author cite {
    font-style: normal;
    font-weight: bold;
}

.comment-author .says {
    font-style: italic;
}

.comment-meta {
    font-size: 12px;
    margin: 0 0 18px 0;
}

.comment-meta a:link, .comment-meta a:visited {
    text-decoration: none;
}

.comment-meta a:active, .comment-meta a:hover {
}

.commentlist .even {
}

.commentlist .bypostauthor {
}

.reply {
    font-size: 12px;
    padding: 0 0 24px 0;
}

.reply a, a.comment-edit-link {
}

.reply a:hover, a.comment-edit-link:hover {
}

.commentlist .children {
    list-style: none;
    margin: 0;
}

.commentlist .children li {
    border: none;
    margin: 0;
}

.nopassword, .nocomments {
    display: none;
}

#comments .pingback {
    margin-bottom: 18px;
    padding-bottom: 18px;
}

.commentlist li.comment + li.pingback {
}

#comments .pingback p {
    font-size: 12px;
    line-height: 18px;
    display: block;
    margin: 0;
}

#comments .pingback .url {
    font-style: italic;
    font-size: 13px;
}

input[type=submit] {
    color: #000;
}

#respond {
    margin: 24px 0;
    overflow: hidden;
    position: relative;
}

#respond p {
    margin: 0;
}

#respond .comment-notes {
    margin-bottom: 1em;
}

.form-allowed-tags {
    line-height: 1em;
}

.children #respond {
    margin: 0 48px 0 0;
}

h3#reply-title {
    margin: 18px 0;
}

#comments-list #respond {
    margin: 0 0 18px 0;
}

#comments-list ul #respond {
    margin: 0;
}

#cancel-comment-reply-link {
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
}

#respond .required {
    float: left;
    font-weight: bold;
    display: block;
}

#respond label {
    font-size: 12px;
}

input[type=text] {
    margin: 0 0 9px;
    width: 98%;
    background: #000;
    border: 1px solid #233353;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#respond textarea {
    background: url(images/commentsfield.png) center center no-repeat;
    width: 604px;
    height: 238px;
    border: none;
    padding: 10px;
    overflow: hidden;
}

#respond .form-allowed-tags {
    color: #b0dff0;
    font-size: 12px;
    line-height: 18px;
}

#respond .form-allowed-tags code {
    font-size: 11px;
}

#respond .form-submit {
    margin: 12px 0;
}

#respond .form-submit input {
    width: auto;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.contactform input[type="text"] {
    background: url(images/inputfield.png) top left no-repeat;
    width: 299px;
    height: 30px;
    border: none;
    padding: 0 10px 0 7px;
}

.contactform textarea {
    width: 757px;
    height: 290px;
    background: url(images/messagefield.png) top left no-repeat;
    border: none;
    padding: 10px 10px 20px 10px;
    overflow: hidden;
}

.contactform label {
    width: 100px;
    display: block;
    float: left;
    line-height: 30px;
    color: #FFF;
}

#contact_submit {
    display: block;
    float: right;
}

#contact_submit {
    color: #b0dff0;
}

.widget-area ul {
    list-style: none;
    margin-left: 0;
}

.widget-area ul ul {
    list-style: square;
    margin-left: 1.3em;
}

.widget_search #s {
    width: 60%;
}

.widget_search label {
    display: none;
}

.widget-container {
    margin: 0 0 18px 0;
}

.widget-area .clear {
    margin-bottom: 24px;
}

.widget-title {
    text-decoration: none;
    font-size: 18px;
}

.widget-area a:link, .widget-area a:visited {
    text-decoration: none;
    color: #b0dff0;
}

.widget-area a:active, .widget-area a:hover {
    text-decoration: underline;
}

.widget-area .entry-meta {
    font-size: 11px;
}

#wp_tag_cloud div {
    line-height: 1.6em;
}

#wp-calendar {
    width: 100%;
}

#wp-calendar caption {
    font-weight: bold;
    text-align: left;
    font-size: 14px;
    padding-bottom: 4px;
}

#wp-calendar thead {
    font-size: 11px;
}

#wp-calendar thead th {
}

#wp-calendar tbody {
    color: #aaa;
}

#wp-calendar tbody td {
    padding: 3px 0 2px;
    text-align: center;
}

#wp-calendar tbody .pad {
    background: none;
}

#wp-calendar tfoot #next {
    text-align: right;
}

.widget_rss a.rsswidget {
}

.widget_rss a.rsswidget:hover {
}

.widget_rss .widget-title img {
    height: 11px;
    width: 11px;
}

#searchsubmit, #submit {
    margin: 0 0 9px;
    color: #FFF!important;
    cursor: pointer;
    border: 1px solid #233353;
    background: #000;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#main .widget-area ul {
    margin-left: 0;
    padding: 0 20px 0 0;
}

#main .widget-area ul li {
    margin-bottom: 24px;
}

#main .widget-area ul ul li {
    margin: auto!important;
}

#main .widget-area ul ul {
    border: none;
    margin-left: 1.3em;
    padding: 0;
    list-style: disc;
}

#primary {
}

#secondary {
}

#footer-widget-area {
}

#footer {
    text-align: center;
}

#footer a {
    color: #b0dff0;
}

#colophon {
    margin-top: -4px;
    padding: 16px 20px;
    overflow: hidden;
}

#site-info {
    float: left;
}

#site-info a {
    text-decoration: none;
}

#site-generator {
    position: relative;
}

#site-generator a {
    display: inline-block;
    text-decoration: none;
    padding-left: 4px;
    line-height: 16px;
}

#site-generator a:hover {
    text-decoration: underline;
}

img#wpstats {
    display: block;
    margin: 0 auto 10px;
}

pre {
    -webkit-text-size-adjust: 140%;
}

code {
    -webkit-text-size-adjust: 160%;
}

#access, .entry-meta, .entry-utility, .navigation, .widget-area {
    -webkit-text-size-adjust: 120%;
}

#site-description {
    -webkit-text-size-adjust: none;
}

entry-utility-prep {
    color: #b0dff0;
}

@media print {
    body {
        background: none!important;
    }

    #wrapper {
        float: none!important;
        clear: both!important;
        display: block!important;
        position: relative!important;
    }

    #header {
        border-bottom: 2pt solid #000;
        padding-bottom: 18pt;
    }

    #colophon {
        border-top: 2pt solid #000;
    }

    #site-title, #site-description {
        float: none;
        margin: 0;
        padding: 0;
        line-height: 1.4em;
    }

    #site-title {
        font-size: 13pt;
    }

    .entry-content {
        font-size: 14pt;
        line-height: 1.6em;
    }

    .date {
    }

    .entry-title {
        font-size: 21pt;
    }

    #access, #branding img, #respond, .comment-edit-link, .edit-link, .navigation, .page-link, .widget-area {
        display: none!important;
    }

    #container, #header, #footer {
        width: 100%;
        margin: 0;
    }

    #content, .one-column #content {
        width: 100%;
        margin: 24pt 0 0;
    }

    .wp-caption p {
        font-size: 11pt;
    }

    #site-info, #site-generator {
        float: none;
        width: auto;
    }

    #colophon {
        width: auto;
    }

    img#wpstats {
        display: none;
    }

    #site-generator a {
        padding: 0;
        margin: 0;
    }

    #entry-author-info {
    }

    #main {
        display: inline;
    }

    .home .sticky {
        border: none;
    }
}
