﻿body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
    background-color: #fff;
}

header, footer, nav, section {
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

/*Blog Detail*/
/*---------------------------------------------------------*/
.blog-content p {
    word-break: break-all;
}

.avatar img {
    background: #F3F4F5;
    border: 1px solid #E2E4E7;
    padding: 0px;
}

/*Header*/
#header .navbar-collapse {
    float: right;
    margin-top: 20px;
}

#header .navbar-collapse a + a {
    margin-left: 20px;
}

#header .userPanel {
    position: absolute;
    width: 175px;
    height: 50px;
    top: 25px;
    right: 17px;
    padding: 0;
    margin: 0;
    text-align: right;
}

.userPanel {
    float: left;
    margin: 0;
    padding: 0 15px 29px 15px;
    color: #baa7a7;
    font: bold 12px 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, Sans-Serif;
}

#RegisterModal iframe {
    margin-left: 25px;
    width: 580px;
    height: 400px;
}

#RegisterForm {
    margin-left: 25px;
    width: 500px;
}

#RegisterModal .modal-dialog {
    width: 650px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*Upload*/
.upload {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
}

.upload .inputfile {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.upload .inputfile input[type="file"] {
    filter: alpha(opacity=0);
    height: 34px;
    opacity: 0;
    width: 51px !important;
    font-size: 300px;
}
